/* Kyra's Kitchen*/

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Great+Vibes&display=swap");

/* CSS Starts here */
#header {
  background-color: rgb(7, 79, 71);
  border: 2px solid rgb(217, 217, 47);
  padding: 20px;
}
#header h1 {
  font-family: Dancing Script;
  font-size: 6rem;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
}
#header p {
  font-family: Allura;
  font-size: 1.8rem;
  color: white;
}

#navbar a {
  margin: 0 15px;
  text-decoration: none;
}
#navbar a:link,
#navbar a:visited {
  color: blue;
}

a:hover {
  color: rgb(8, 171, 7);
}

#Menu ul {
  list-style: none;
  text-align: left;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  color: rgb(199, 30, 7);
}
h3 {
  color: rgb(12, 172, 44);
}

body {
  background-color: rgb(188, 230, 217);
  font-family: google sans;
  padding: 10px 50px;
  margin: 10px;
  font-style: italic;
  text-align: center;
}

#footer {
  background-color: rgb(7, 79, 71);
  color: White;
  padding: 10px;
}
#footer a {
  color: rgb(199, 30, 7);
}
